@font-face {
	font-family: "Roboto Regular";
	src: url('../fonts/web/roboto.woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Roboto Medium";
	src: url('../fonts/web/robotomedium.woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Roboto Bold";
	src: url('../fonts/web/robotobold.woff2');
	font-weight: 400;
	font-style: normal;
}
body{
	font-family:"Roboto Regular";
	margin:0px;
	padding:0px;
	background-color:#2E3436FF;
}
.container{
	box-sizing:border-box;
	padding:0px 27px;
	margin:0px;
	width: 1200px;
	/*  slife 1 #849d8f
		slide 2 #8996a6
	  	slide 3 #9d8b84 */
	margin-left:auto;
	margin-right:auto;
}
.container-bg{
	box-sizing:border-box;
	padding:0px 27px;
	margin:0px;
	width: 1200px;
	/*  slife 1 #849d8f
		slide 2 #8996a6
	  	slide 3 #9d8b84 */
	margin-left:auto;
	margin-right:auto;
	background-image:url(../img/sliderbg.png);
	background-repeat: no-repeat;
	background-position: top;
}
.green-bg{background-color: #849d8f;}
.blue-bg{background-color: #8996a6;}
.red-bg{background-color: #9d8b84;}

.visually-hidden{
	position:absolute;
	top:-10000px;
}
.btn{
	font-family:"Roboto Bold";
	color:#fff;
	text-decoration:none;
	border:none;
	border-radius:30px;
	font-size: 18px;
	text-shadow: 10px 10px 10px 10px #000;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	box-shadow:0px 2px 0px 0px rgba(231,75,54,0.8);
	background:linear-gradient(to bottom, #f26843, #e74b36);
}
.btn:hover{
	background:linear-gradient(to bottom, #f58669, #f58669);
}
.btn:active{
	background:linear-gradient(to bottom, #d84732, #e1613e);
}
/*::::::::::::::::::::*/
/*::::: HEADER :::::::*/
/*::::::::::::::::::::*/
.main-logo{
	position:relative;
	top:6px;
	padding-right:8px;
}
.menu-top{
	display:flex;
	justify-content:space-between;
	align-content:center;
	align-items:stretch;
	padding:0px 0px;
	height: 74px;
}
	.menu-top li{
		position:relative;
	}
		.menu-top .menu-item{
			font-family:"Roboto Bold";
			color:#fff;
		}
		.menu-item__active{
			background-color:#d07058;
		}
	.main-menu{
		display:flex;
		justify-content:space-between;
		align-items:center;
		margin:0px;
		padding:0px;
		list-style:none;
	}
		.main-menu .menu-item{
			position: relative;
			padding-top:4px;
			padding-bottom: 7px;
			padding-left:13px;
			padding-right:14px;
			border-radius:20px;
			margin:1px;
		}
		.main-menu .menu-item:hover{
			background-color:#f7f6f3;
			color:#000;

		}
		#item-catalog:hover .popup-menu{
			opacity:1;	
			z-index:2;		
		}
		#item-catalog:hover .menu-item{
			background-color:#f7f6f3;
			color:#000;
		}
			.popup-menu{
				display:block;
				opacity:0;
				position: absolute;
				top:33px;
				left:-7px;
				box-sizing:border-box;
				width:143px;
				list-style:none;
				background-color:#fff;
				color:#000;
				padding-left:0px;
				padding-top:7px;
				border-radius:5px;
				z-index:5;
				padding-bottom:6px;
				box-shadow:0px 6px 5px 3px rgba(0,0,0,0.2);
				z-index:0;
				transition:all 0.2s;
			}
			.popup-menu::before{
				display:block;
				content:"";
				position:absolute;
				top:-8px;
				left:0px;
				width:142px;
				height:10px;
				background-color:transparent;
			}
				.popup-menu__header{
					display:inline-block;
					box-sizing:border-box;

					position:relative;
					left:8px;

					font-size:14px;
					font-weight:bold;
					padding-top:4px;
					padding-bottom:10px;
					padding-left:13px;
					padding-right:57px;
					padding-bottom:13px;
					border-bottom: 1px solid #d2d2d2;
					margin-bottom:0px;
				}
				.popup-menu__item {
					display:block;
					font-family:"Roboto Regular";
					font-size:14px;
					line-height:31px;
					padding-left:20px;
				}
				.popup-menu__item:hover{
					background-color:#fbded7;
				}
	.user-menu{
		font-family:"Roboto Medium";
		font-size:14px;
		display:flex;
		justify-content:flex-end;
		align-items:center;
		margin:0px;
		padding:0px;
		list-style:none;

	}
	.menu-top form{
		box-shadow:0px 6px 5px 3px rgba(0,0,0,0.2);
	}
		.user-menu .menu-item{
			position:relative;
			background-color:rgba(255,255,255,0.2);
			border-radius:15px;

			padding-top:7px;
			padding-bottom: 6px;
			padding-left:22px;
			padding-right:20px;
			margin-left:20px;
		}
		.user-menu .menu-item:hover,
		.user-menu .menu-item:hover g{
			background-color:#f8f7f4;
			color:#000;
			fill:#000;
		}
			.menu-item svg{
				position:relative;
				top:3px;
				right:5px;
			}
		#search_toggler:hover #search-form{
			opacity:1;
			z-index:2;
		}
		#search_toggler:hover a{
			color:#000;
			background-color:#f7f6f3;
		}
		#search_toggler:hover g{
			fill:#000;
		}
		#search_toggler a{
			position: relative;
			padding:7px;
		}
			#search_toggler svg{
				top:2px;
				right:0px;
				padding:0px;
				margin-left:0px;
			}
			#search-form{
				opacity:0;
				position: absolute;
				top:31px;
				right:-1px;
				z-index:2;
				background-color:#f8f7f4;
				border-radius:5px;
				padding:20px 15px;
				transition:all .2s;
				z-index:-1;
			}
				#search{
					box-sizing:border-box;
					width:311px;
					font-family:"Roboto Regular";
					font-size:14px;
					padding:13px 14px;
					border:1px solid #d3d3d2;
					border-radius:5px;
	
				}
		#search_toggler{
			position: relative;
		}
		#signin_toggler:hover #signin_form{	
			
			opacity:1;
			Z-index:2;
		}
		#signin_toggler:hover a{
			color:#000;
			background-color:#f7f6f3;
		}
		#signin_toggler:hover g{
			fill:#000;
		}
		#signin_form{
			opacity:0;
			position: absolute;
			top:33px;
			right:0px;
			background-color:#f8f7f4;
			padding:20px 17px;
			border-radius:5px;
			z-index:-1;
			transition: all .2s;
		}
			#email,
			#password{
				box-sizing:border-box;
				width:241px;
				font-family:"Roboto Regular";
				font-size:14px;
				padding:13px 14px;
				border:1px solid #d3d3d2;
				border-radius:5px;
				margin-bottom:20px;
			}
			#signin_form button{
				font-size:18px;
				border:none;
				padding:10px 24px;
				border-radius:20px;
			}
			#signin_form ul{
				list-style:none;
				float:right;
				padding-left:0px;
				padding-right:3px;
				padding-top:0px;
			}
			#signin_form a{
				font-size:13px;
				line-height:22px;
				color:#323232;
			}
			#signin_form a:hover{
				color:#e84d37;
			}
	#cat_toggler{
		position: relative;
	}
		#cat_toggler:hover #cat-form{
			opacity:1;
			z-index:1;
		}
		#cat_toggler:hover a{
			color:#000;
			background-color:#f7f6f3;
		}
		#cat_toggler:hover g{
			fill:#000;
		}
		.cat-form{	
			opacity:0;
			font-family: "Roboto Regular";
			font-size: 13px;
			position: absolute;
			top:34px;
			right:1px;
			box-sizing:border-box;
			width:539px;
			background-color:#f8f7f4;
			padding:16px 17px;
			padding-right:12px;
			border-radius:5px;
			z-index:-1;
			transition:all 0.2s;
		
		}
			.cat-form__row{
				display: flex;
				justify-content:flex-start;
				align-items:top;
				box-sizing:border-box;
				width:100%;	
				padding-top:13px;
				padding-right:0px;
				padding-left:2px;
				margin-bottom:6px;
			}
				.cat-form__close-button{
					position: relative;
					width:15px;
					height:15px;
					margin-right:7px;
				}
				.cat-form__close-button::before,
				.cat-form__close-button::after{
					content:'';
					position: absolute;
					top:6px;
					left:0px;
					width: 15px;
					height: 1px;
					background-color:#000;
				}
				.cat-form__close-button::before{
					transform:rotate(45deg);
				}
				.cat-form__close-button::after{
					transform:rotate(-45deg);
				}
				.cat-form__cat_ico{
					position:relative;
					top:-10px;
					border-radius:50%;
					width: 34px;
					height: 34px;
					margin-right:13px;
				} 
				.cat-form__product{
					width:226px;
					margin-right:21px;
					margin-top:0px;
					margin-bottom:0px;
				}
				.cat-form__pics{
					width:118px;
					margin-right:5px;
					margin-top:0px;
				}
				.cat-form__pics .price{
					color:#999999;
				}
				.cat-form__sum{
					margin-top:0px;
				}
			.cat-form__total{
				font-family:"Roboto Bold";
				font-size:15px;
				text-align:right;
				border-top:1px solid #d2d2d2;
				padding-top:12px;
				margin-top:14px;
				margin-bottom:14px;
			}
			.align-right{
				text-align: right
			}
				.cat-form__button{
					text-align:right;
					display:inline-block;
					padding:10px 15px;
				}
.slider{
	display:flex;
	justify-content:center;
	position:relative;
	position: relative;
	list-style:none;
	text-align:center;
	padding:0px;
	height:540px;
}
	.slider__item{
		position:absolute;
		opacity: 0;
		z-index: -1;
		transition: all 0.5s;
	}
	.slider__item.active{
		opacity: 1;
		z-index: 0;
	}
	.slider__item .capture{
		font-family:"Roboto Bold";
		color:#fff;
		line-height:60px;
		position:relative;
		top:-350px;
		left:0px;
		font-size:60px;
	}
	.slider__item .btn{
		position:relative;
		top:-367px;
		border-radius:30px;
		font-size: 32px;
		padding-top:7px;
		padding-bottom:14px;
		padding-left:40px;
		padding-right:40px;	
	}
	.slider-controls{
		display:flex;
		position:absolute;
		bottom:42px;
		left:-45px;
		list-style:none;
	}
		.slider-controls__item{
			margin:5px;
			border: 2px solid #fff;
			border-radius: 50%;
			width: 16px;
			height: 16px;
		}
		.slider-controls__item:hover{
			cursor:pointer;
			background-color:#b2c1b7;
		}
		.slider-controls__item.active{
			background-color:#fff;
		}
		.slider-controls__item .active{
			
		}

	.promo-block{
		margin:0px;
		padding:0px;
	}
		.promo-block__cards{
			display: flex;
			padding:0px;
			margin:0px;
			margin-left:-13px;
			margin-right:-20px;
			margin-bottom:15px;
		}
		.promo-card{
			font-family: "Roboto Bold";
			overflow: hidden;
			position:relative;
			border-radius:15px;
			margin:13px;
			margin-top:0px;
			padding:0px;
			width:560px;
			height:230px;
			box-sizing:border-box;			
		}
			.promo-card-container{
				box-sizing:border-box;
				width:100%;
				height:100%;
				position:relative;
				padding:20px;
				padding-top:10px
			}
				.promo-card .cover{
					position:absolute;
					width:100%;
					height: auto;
					z-index:0;
				}
				.promo-card h2{
					margin:0px;
					font-size:36px;
					color:#fff;
					position: relative;
					z-index: 2;
				}
				.promo-card p{
					margin-top:12px;
					font-size:18px;
					color:#fff;
					position: relative;
					z-index: 2;
				}
				.promo-card .btn{
					position: absolute;
					bottom:25px;
					right:22px;
					z-index: 2;
				}
	.promo-block__icecreams{
		display: flex;
		margin-left:-13px;
		margin-bottom: 4px;
		justify-content: space-between;
	}
		.promo-icecream{
			position:relative;
			width:267px;
			height:344px;
			margin:13px;
			padding:0px;
		}
		.promo-icecream a{
			text-decoration:none;	
		}
			.promo-icecream .hit{
				position:absolute;
			}
			.promo-icecream .round-image{
				border-radius:50%;
				overflow: hidden;
				width:267px;
				height:267px;
			}
			.promo-icecream .icecream{
				widht:100%;
				height:100%;
			}
			.promo-icecream .price{
				position:absolute;
				bottom:86px;
				margin:0px;
				font-family:"Roboto Bold";
				font-size:45px;
				color:#fff;
			}
				.price .ruble{
					position: relative;
					top:4px;
					right:8px;
				}
				.price .kg{
					position:relative;
					right:8px;
					font-size:30px;
				}
			.promo-icecream .desc{
				color:#fff;
				text-align:center;
				padding:0px;
				text-decoration:underline;
			}
			.promo-icecream .desc:hover{
				color:#e84d37;
			}
		
	.about{
		display:flex;
		flex-direction:column;
		box-sizing:border-box;
		width: 1146px;
		height: auto;
		background-color:rgb(245, 247, 250);
		background-image:url("../img/cockie.jpg");
		border-radius: 15px;
		padding: 30px 20px;
		color: #323232;
		margin-bottom: 40px;
	}
		.about__header{
			font-family: "Roboto Medium";
			font-size:24px;
			margin-top: 0px;
			margin-bottom: 17px;
		}
		.about-row{
			display: flex;
			flex-wrap:wrap;
			margin-left:-15px;
			margin-right:-15px;
		}
		.about__item{
			display: flex;
			margin:0px 15px;
		}
		.about__item-ico{
			position:relative;
			top:-19px;
		}
			.about__paragraph{
				width:480px;
				font-size:16px;
				margin-left:8px;
				margin-top:10px;
				margin-bottom:10px;
			}
	.info{
		display: flex;
		margin-left:-10px;
		margin-right:-10px;
		margin-bottom: 20px;
	}
	.info__card{
		box-sizing:border-box;
		width: 560px;
		height: 220px;
		border-radius:15px;
		margin-top:0px;
		margin-left: 12px;
		margin-right: 12px;
		margin-bottom:20px;
	}
		#blog{
			background-color:#fff;
			background-image:url("../img/card_malina.jpg");
			padding:18px;
		}
			#blog p{
				margin-top:5px;
				margin-bottom: 10px;
			}
			#blog a{
				font-family:"Roboto Medium";
				font-size:24px;
				color:#323232;
			}
			#blog a:hover{
				color:#e84d37;
			}
			.info__card .tip{}
			.info__card .to-blog{}
		#subscribe{
			background-color:#fff;
			background-image:url("../svg/postfon.svg");
			padding:7px;
		}
			#subscribe form{
				box-sizing:border-box;
				background-color:#fff;
				width:100%;
				height:100%;
				border-radius:15px;
				padding:8px 20px;
			}
				#subscribe p{
					margin-top:20px;
					margin-bottom: 34px;
					color:#323232;
					font-family:"Roboto Regular";
					font-size:16px;
					line-height:22px;
				}
				#subscribe input{
					box-sizing:border-box;
					width:368px;
					font-family:"Roboto Regular";
					font-size:16px;
					padding:11px 13px;
					border-radius:5px;
					border: 1px solid #d3d3d2;
				}
				#subscribe input:hover{
					box-shadow: 0px 0px 0px 1px #c7c6c5;
				}
				#subscribe input:focus{
					border: 2px solid #8fbdec;
					outline: 2px solid transparent;
				}
				#subscribe button{
					border:none;
					margin-left:10px;
					padding:10px 15px;
				}
			.map-section{
				box-sizing:border-box;
				position: relative;
				margin-left:-27px;
				margin-right:-27px;
				height: 430px;
				overflow: hidden;
			}
				.map-section .map{
					position: absolute;
					height:auto;
					top:-94px;
					left:-19px;
				}
				.map-section .pin{
					position: absolute;
					bottom:152px;
					left:266px;
					z-index:2;
				}

				.map-info-block{
					position: absolute;
					box-sizing:border-box;
					width:303px;
					height:306px;
					background-color:#fff;
					border-radius:15px;
					top:60px;
					right:27px;
					padding:17px 27px;

				}
				.map-info-block p.small{
					font-family:"Roboto Regular";
					font-size:14px;
					line-height:20px;
					color:#323232;
					margin-bottom:0px;
					/*position: absolute;*/
				}
				.map-info-block p.big{
					font-family:"Roboto Bold";
					font-size:18px;
					margin-top:0px;
					/*position: absolute;*/
				}
				.map-info-block .btn{
					position: absolute;
					margin-top:14px;
					padding:10px 27px;
				}

/*::::::::::::::::::::::::::*/
/*:::::::: FOOTER ::::::::::*/
/*::::::::::::::::::::::::::*/

footer{
	display:flex;
	justify-content:space-between;
}

footer a:hover{
	color:#e84d37;
}

.social-links{
	list-style:none;
	display:flex;
	align-items:center;
	align-content:center;
	box-sizing:border-box;
	height:36px;
	margin:0px;
	padding-left:2px;
	padding-top:54px;
	padding-bottom:54px;
}
	.social-links__link {
		opacity:0.6;
		display:flex;
		border:2px solid #c2cec7;
		border-radius:50%;
		margin-right:13px;
	}
	.social-links__link:hover {
		opacity:1;
	}
		.social-links__link a{
			width:32px;
			height:32px;
		}
.about-links{
	display:flex;
	flex-wrap:wrap;
	list-style:none;
	padding: 30px 0px;
	max-width: 400px;
	margin: 0px;
	margin-left:95px;
	max-height: 140px;
}
	.about-links__item{
		font-family:"Roboto Regular";
		font-size:13px;
		color:#fff;
		margin-right:30px;
	}
	.about-links__item.active{
		font-family:"Roboto Bold";
		position:relative;
	}
	.about-links__item.active::before{
		content:"";
		position: absolute;
		left:-25px;
		top:5px;
		box-sizing:border-box;
		width: 15px;
		height: 12px;
		background-image:url("../svg/heart.svg");
	}
.copyright{
}
	.copyright a{
		color:#fff;
		font-family:"Roboto Regular";
		font-size:13px;
	}
	.copyright img{
		width:110px;
		height:auto;
		margin-right:10px;
		margin-top:17px;
	}
	.copyright p{
		font-size:12px;
		margin-top:5px;
	}