@font-face {
	font-family: "Roboto Regular";
	src: url('../fonts/web/roboto.woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Roboto Medium";
	src: url('../fonts/web/robotomedium.woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Roboto Bold";
	src: url('../fonts/web/robotobold.woff2');
	font-weight: 400;
	font-style: normal;
}
body{
	font-family:"Roboto Regular";
	margin:0px;
	padding:0px;
	background-color:#2E3436FF;
}
.container{
	box-sizing:border-box;
	padding:0px 27px;
	margin:0px;
	width: 1200px;
	background-color: #849d8f;
	margin-left:auto;
	margin-right:auto;
}
.container-bg{
	box-sizing:border-box;
	padding:0px 27px;
	margin:0px;
	width: 1200px;
	background-color: #849d8f;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../img/sliderbg.png);
	background-repeat: no-repeat;
	background-position: top;
}
.visually-hidden{
	position:absolute;
	top:-10000px;
}

/*::::::::::::::::::::*/
/*::::: HEADER :::::::*/
/*::::::::::::::::::::*/
.main-logo{
	position:relative;
	top:6px;
	padding-right:8px;
}
.menu-top{
	display:flex;
	justify-content:space-between;
	align-content:center;
	align-items:stretch;
	padding:0px 0px;
	height: 74px;
}
	.menu-top li{
		position:relative;
	}
		.menu-top .menu-item{
			font-family:"Roboto Bold";
			color:#fff;
		}
		.menu-item__active{
			background-color:#d07058;
		}
	.main-menu{
		display:flex;
		justify-content:space-between;
		align-items:center;
		margin:0px;
		padding:0px;
		list-style:none;
	}
		.main-menu .menu-item{
			padding-top:4px;
			padding-bottom: 7px;
			padding-left:13px;
			padding-right:14px;
			border-radius:20px;
			margin:1px;
		}
		.main-menu .menu-item:hover{
			background-color:#f7f6f3;
			color:#000;
		}
	.user-menu{
		font-family:"Roboto Medium";
		font-size:14px;
		display:flex;
		justify-content:flex-end;
		align-items:center;
		margin:0px;
		padding:0px;
		list-style:none;

	}
		.user-menu .menu-item{
			position:relative;
			background-color:rgba(255,255,255,0.2);
			border-radius:15px;

			padding-top:7px;
			padding-bottom: 6px;
			padding-left:22px;
			padding-right:20px;
			margin-left:20px;
		}
		.user-menu .menu-item:hover,
		.user-menu .menu-item:hover g{
			background-color:#f8f7f4;
			color:#000;
			fill:#000;
		}
			.menu-item svg{
				position:relative;
				top:3px;
				right:5px;
			}
		#search{
			padding:7px;
		}
			#search svg{
				top:2px;
				right:0px;
				padding:0px;
				margin-left:0px;
			}
.slider{
	display:flex;
	justify-content:center;
	position:relative;
	list-style:none;
	text-align:center;
	padding:0px;
	height:540px;
}
	.slider__item{
		display:none;
	}
	.slider__item.active{
		display:block;
	}
	.slider__item .capture{
		font-family:"Roboto Bold";
		color:#fff;
		line-height:60px;
		position:relative;
		top:-350px;
		left:0px;
		font-size:60px;
	}
	.slider__item .btn{
		font-family:"Roboto Bold";
		position:relative;
		top:-367px;
		color:#fff;
		text-decoration:none;
		border-radius:30px;
		font-size: 32px;
		padding-top:7px;
		padding-bottom:14px;
		padding-left:40px;
		padding-right:40px;
		box-shadow:0px 4px 3px 0px rgba(0,0,0,0.5);
		background:linear-gradient(to bottom, #f26843, #e74b36);
	}
	.slider-controls{
		display:flex;
		position:absolute;
		bottom:42px;
		left:-45px;
		list-style:none;
	}
		.slider-controls__item{
			margin:5px;
			border: 2px solid #fff;
			border-radius: 50%;
			width: 16px;
			height: 16px;
		}
		.slider-controls__item:hover{
			cursor:pointer;
		}
		.slider-controls__item.active{
			background-color:#fff;
		}
		.slider-controls__item .active{
			
		}
